<!DOCTYPE html>
<html>
<head>
  <title>Blog4</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="http://libs.baidu.com/jqueryui/1.8.22/jquery-ui.min.js"></script>

</head>

<body>

<div id="banner">
  <h1>博客</h1>
</div>
<div id="left-panel">
  <p><%=link_to "首页",root_url %></p>
  <p><%=link_to "查看用户列表",users_url %></p>
  <% if user_signed_in? %>
    <p>当前用户:<%= current_user.email %></p>
    <p><%= link_to "查看个人主页", current_user %></p>
    <p><%= link_to "注销", destroy_user_session_path, method: :delete %></p>
  <% else %>
    <p>您好，您还没有登录</p>
    <%=link_to "点此登录", new_user_session_path %>
  <% end %>
</div>

<div id="main-panel">

  <p id="alert"><%= alert %></p>
  <%= yield %>
</div>

<div id="footer">
  Copyright alangy &copy; 2020
</div>


</body>
</html>
