<p id="notice"><%= notice %></p>

<h1>Listing blogs</h1>
<div class="blogs">
  <% @blogs.each do |blog| %>
    <div class=”blog”>
      <%= link_to blog.title, blog %>, Posted
      <%= time_ago_in_words blog.created_at %> ago by <%= blog.user.email %>
      <% if !current_user.nil? && current_user == blog.user %>|
        <%= link_to 'Edit', edit_blog_path(blog) %>
        <%= link_to 'Destroy', blog, method: :delete, data: {
            confirm: 'Are you sure?'} %>
      <% end %>
      <pre><%= blog.content %></pre>
    </div>
  <% end %>
</div>

<br>

<%= link_to '发表我的新博客', new_blog_path %>
