

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<% if !current_user.nil? && current_user == @blog.user %>

  <%= link_to 'Edit', edit_blog_path(@blog) %> |
  <%= link_to 'Destroy', @blog, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to '查看所有博客', blogs_path %>
<% else %>
  <%= link_to '查看所有博客', blogs_path %>
<% end %>

<h2>Comments</h2>
<div id="comments">
  <%= render :partial => @blog.comments %>
</div>
<% if current_user.nil? %>
  <p>想要发表评论，请先使用左边栏登录</p>
<% else %>
  <%= form_for [@blog, Comment.new] ,remote:true, id:'new_comment' do |f| %>
    <p>
      <%= f.label :content, "评论内容" %> <br/>
      <%= f.text_area :content, :rows => 5 %>
    </p>
    <p><%= f.submit "发表" %></p>
  <% end %>
<% end %>
